<h1>Login page</h1>

<form action="/login" method="POST">
	<label>Username:</label>
	<br>
	<input type="text" name="username">
	<br><br>
	<label>Password:</label>
	<br>
	<input type="password" name="password">
	<br><br>
	<input type="submit" value="Login">
</form>

<form action="/register" method="GET">
	<input type="submit" value="Register">
</form>

{{#if error}}
	{{#if code}}
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}