<h1>Create a group</h1>

<form action= "/groups/create" method = "POST">
	<p><label >Name:</label></p>
	<input type="text" name="name"><br></br>
	<p><label for="desc">Description (Max 100 characters):</label></p>
	<input type='text' name='desc' size='100'><br></br>
	{{#if error}}{{#if code}}<errorOnCreateGroups><strong> ERROR {{code}}: {{error}}</strong></errorOnCreateGroups><br>	{{/if}} {{/if}}
	<input class = "button_green" type="submit" value="Create">
</form>

