<h1>Create a group</h1>

<form action= "/groups/create/redirect" method = "POST">
	<p><label >Name:</label></p>
	<input type="text" name="name"><br></br>
	<p><label for="desc">Description (Max 100 characters):</label></p>
	<input type='text' name='desc'><br></br>
	<input type="submit" value="Create">
</form>
