<h1>Find a Game</h1>

<form action= "/search/result" method = "GET">
	<h2>Write the name of the game you want to search right below </h2>
	<label for="txtQuery">Name:</label>
	<input type="text" id="txtQuery" name="name">
	<input type="submit" value="Search">
</form>