<h1>Create a group</h1>

<form action= "/groups/filter" method = "POST">
	<p><label for="txtQuery">Name:</label></p>
	<input type="text" id="txtQuery" name="name"><br></br>
	<p><label for="desc">Description (Max 100 characters):</label></p>
	<input type='text' id='txtQuery' name='desc'><br></br>
	<input type="submit" value="Create">
</form>
