<h1>Groups</h1>
<form action= "/groups/create" method = "GET">
	<label > Need a new group? </label>
	<input type="submit" value="Create">
</form>

{{#if groups}}
	{{#each groups}}
		<ul id="myUL">
		<li><a href="#">{{name}}</a></li>
		</ul>
	{{/each}}
{{/if}}


