<h1>{{groupdetails.name}}</h1>

<center>
    <div style="width: 490px; height: 150px; border: 5px solid #000;">
        <element id='game1URL'>DESCRIPTION</element><br>{{groupdetails.description}}
    </div>
</center>
