<h1>BORGA - Games Api</h1>

<h3>
	<center>
		<div id='course'>
		<strong>ISEL</strong> - 
		<strong>IPW</strong> - 
		<strong>2021</strong>
		</div>
	</center>
</h3>

<center><img src='/public/isel.png' alt='Game' width='425' height='300' id = 'image1'></center>
<center><p><span id='sample'>Sample application</span> for the <em>IPW</em> course unit.</p></center>


