<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>BORGA - Games Api</title>
		<link rel='stylesheet' href='/public/style.css'>
		<link rel='icon' href= '/public/possiblefavicon.ico'>
	</head>
	<body style = "background-color:rgb(194, 185, 56);">
		<nav>
				<a class= "redirects" href="/">Home</a>
				<a class= "redirects" href="/search">Search</a>
				<a class= "redirects" href="/groups">Groups</a>
				<a class= "redirects" href="/popular">Popular Games</a>
		</nav>
		<hr>
		{{{body}}}
	</body>
</html>