<h1>Search most popular games</h1>
<form action= "/popular/result" method = "GET">
	<h2><label for="txtQuery">How many games do you want?</label></h2>
	<p><label for="TxtQuery">Count:</label></p>
	<input type="text" id="txtQuery" placeholder='10 items default..' name="count">
	<input type="submit" value="Click me for the most popular games">
</form>	
