<h1>Search most popular games</h1>
<form action= "/popular/result" method = "GET">
	<label for="txtQuery">How many games do you want?</label>
	<input type="text" id="txtQuery" name="count">
	<input type="submit" value="Click me for the most popular games">
</form>	