<h1>Register page</h1>

{{!-- {{#if error}}
    {{#if code}}
        <center>
            <form action="/register" method="POST">
                <label>Username:</label>
                <input type="text" name="username">
                <br><br>
                <label>Password:</label>
                <input type="password" name="password">
                <br><br>
                <input type="submit" value="Register">
            </form>
        </center>
    {{/if}}
{{/if}} --}}

    <form action="/login" method="POST">
        <label>Username:</label>
        <br>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Register">
    </form>