<h1>Find a Game</h1>

<form action= "/search/result" method = "GET">
	<body>
		<h2>Write the name of the game you want to search right below </h2>
		<p><label for="txtQuery">Name:</label></p>
		<input type="text" id="txtQuery" size = '20' name="name">
		<input type="submit" value="Search">
	</body>
</form>
