<h1>BORGA - Games Api</h1>

<h3>
	<center>
		<div id='course'>
		<strong>ISEL</strong> - 
		<strong>IPW</strong> - 
		<strong>2021</strong>
		</div>
	</center>
</h3>

<center><img src='/public/isel.png' alt='Game' width='425' height='300' id = 'image1'></center>
<center><h2><span id='sample'>Welcome!</span></h2></center>
<center>
	<h2>
		<span id='sample'>
			On this website you are able to:
		</span>
	</h2>
</center>
<center>
	<h3>
		<table>
			<tr>
				<td>Search any kind of board games you like;</td>
			<tr>
				<td>Create groups for your games and manage them;</td>
			</tr>
			<tr>
				<td>Search for the most popular games.</td>
			</tr>
		</table>
	</h3>
</center>


