<h1>Register page</h1>


<form action="/register" method="POST">
    <label>Username:</label>
    <br>
    <label>
        <input type="text" name="username">
    </label>
    <br><br>
    <label>Password:</label>
    <br>
    <label>
        <input type="password" name="password">
    </label>
    <br><br>
    <input type="submit" value="Register">
</form>

{{#if error}}
	{{#if code}}
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}