


.redirects{
	margin :4px;
	padding: 4px;
}
#course {
color: green;
}
#image0 {
	display: block;
  margin-left: auto;
  margin-right: auto;

  
}
h1 {
	font-family: "Lucida Console", monospace;
	text-align:center;
	color: #5FBDF4;
	margin: 4px;
	padding: 4px;
}

h1::before {
	content: '';
	padding-right: 32px;
	background-image: url(/public/dice-1024.png);
	background-size: contain;
	background-repeat: no-repeat;
}
h1::after {
	content: '';
	padding-right: 48px;
	background-image: url(/public/dice-1024.png);
	background-size: contain;
	background-repeat: no-repeat;
}