.redirects{
	margin :4px;
	padding: 4px;
	color:rgb(255, 255, 255);
	display:inline-block;
	text-align:center
}
 nav {
    text-align: center;
	background-color: rgb(8, 0, 0);
}

.redirects:hover{
	color: #5FBDF4;
}

#course {
	color: rgb(131, 2, 2);
}

#image0 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	color: rgb(116, 2, 2)
}

h1 {
	font-family: "Lucida Console", monospace;
	text-align:center;
	color: #5FBDF4;
	margin: 4px;
	padding: 4px;
}

h1::before {
	content: '';
	padding-right: 32px;
	background-image: url(/public/dice-1024.png);
	background-size: contain;
	background-repeat: no-repeat;
}

h1::after {
	content: '';
	padding-right: 48px;
	background-image: url(/public/dice-1024.png);
	background-size: contain;
	background-repeat: no-repeat;
}

h3 {
	font-size: small;
	color: rgb(109, 2, 2);
}

h5 {
	font-size: medium;
	color: rgb(0, 0, 0);
}

p1 {
	background: #c51244 !important;
	padding: 10px !important;
	border-radius: 0 !important;
	position: relative; 
	display: inline-block !important;
	box-shadow: 1px 1px 1px #aaaaaa;
	margin-top: 10px; 
}

p1:before{
	content: '';  
	width: 0;  
	height: 0;  
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #c51244;
	position: absolute;  
	top: -10px; 
}

p1:after{
	color: #c51244 !important;
}

p {
	margin: 0;
}
